
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

:root {
    --color-darkOrange: #DC5120;
    --color-orange: #db7b58;
    --color-lightOrange: #ffefe6;
    --color-navy: #000066;
    --color-yellow: #F5C24D;
}



body {
    padding: 0;
    margin: 0;
    font-size: 14px;
    height: 100vh;
}

header {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: #f5ecdc;
    background-size: cover;
    position: relative;
    padding: 1rem 0 0;
}
.content__inner {
    height: 100%;
    max-width: 1200px;
    width: 80%;
    margin: auto;
}
.logo {
    font-weight: bold;
    font-size: 1.2rem;
}
.nav__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 56px;
    position: absolute;
    top: 0;
    left: 10%;
    width: 80%;
    z-index: 10;
    color: #e69173;
    border-bottom: solid 1px #e69173;
    padding: 0 2rem;
    box-sizing: border-box;
}
nav {
    display: flex;
    align-items: center;
    justify-content: left;
}
nav > span {
    margin: 16px;
}
.header__content {
    margin-top: 160px;
    width: 60%;
    position: relative;
    box-sizing: border-box;
    min-width: 600px;
}
.header__content > .header__innerContent{
    box-sizing: border-box;
    padding: 1rem 2rem;
    backdrop-filter: blur(5px);
    text-align: left;
    border-radius: 4px;
    background-color: rgba(255, 255,255, 0.4);
    width: 100%;
}

.header__innerContent > img{
    width: 450px;
    /* margin-top: 30px; */
    filter: grayscale(70%);
    opacity: 0.7;
}
.header__content > h1{
    font-family: 'Caveat', cursive;
    font-size: 3.5rem;
    font-weight: 500;
    line-height: 1.1;
    margin: 5rem 0 0.5rem;
    text-transform: uppercase;
    color: #DC5120;
    letter-spacing: 1px;
}
.header__content > p {
    color: #e69173;
    margin-bottom: 2rem;
}

.searchArea {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 1.5rem 0 2rem;
}
select {
    border: none;
    padding: 0.5rem;
    background-color: #fff;
    border-radius: 3px;
    color: #666;
    font-size: 1rem;
    margin-right: 0.5rem;
    height: 40px;
}
button {
    background-color: var(--color-darkOrange);
    border-radius: 3px;
    padding: 0.5rem;
    color: #fff;
    border: none;
    box-sizing: border-box;
    width: 120px;
    letter-spacing: 2px;
    margin-left: 2rem;
    transition: background-color 0.5s;
    font-size: 1rem;
    height: 40px;
    line-height: 1;
}
button:hover {
    background-color: var(--color-orange);
    transition: background-color 0.5s;
}

main {
}
main > .content__inner {
}

.section {
    position: relative;
    margin: 16px 0;
}

#mapArea {
    width: 600px;
    background-color: #8a8a99;
    display: flex;
    justify-content: center;
    align-items: stretch;
    border-radius: 3px;
    transition: display 0.5s;
    overflow: hidden;
}
#mapArea > .text-contents{
    padding: 2rem 0.8rem;
    box-sizing: border-box;
    width: 150px;
    color: #fff;
}

.section > .description {
    background-color: #eeebe7;
    padding: 32px 40px;
    position: absolute;
    top: 40px;
}

.geolonia {
  width: 100%;
  height: 400px;
}

.mapStyleSelect {
    pointer-events: auto;
    margin: 8px;
    z-index: 100;
}
.mapStyleSelect > select {
    font-size: 0.9rem !important;
    padding: 0.25rem !important;
    height: 32px !important;
    border-color: #8a8a99 !important;
    color: #5c5c66 !important;
    background-color: #efefef !important;
}

.header_img {
    position: absolute;
    top: 200px;
    right: 120px;
    width: 360px;
}


.hidden {
    display: none !important;
    transition: display 0.5s;
}
.show {
    display: block;
    transition: display 0.5s;
}

/* ------ id ------ */
#marker1, #marker2 {
    width: 40px;
    height: 40px;
    cursor: pointer;
}
#marker1 > img,
#marker2 > img {
    width: 100%;
}

#map {
    width: 100%;
    height: 100%;
}
