
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');


body {
    padding: 0;
    margin: 0;
    font-size: 14px;
    height: 100vh;
    overflow: hidden;
}

header {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-image: url(./imgs/sea_bg_img.jpeg);
    background-size: cover;
    position: relative;
}
.content__inner {
    height: 100%;
    max-width: 1200px;
    width: 80%;
    margin: auto;
}
.logo {
    font-weight: bold;
    font-size: 1.2rem;
}
.nav__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 56px;
    position: absolute;
    top: 0;
    left: 10%;
    width: 80%;
    z-index: 10;
    color: #fff;
}
nav {
    display: flex;
    align-items: center;
    justify-content: left;
}
nav > span {
    margin: 16px;
}

.header__content{
    top: 12%;
    right: 40px;
    box-sizing: border-box;
    padding: 5rem 4rem;
    backdrop-filter: blur(5px);
    position: absolute;
    text-align: left;
    border-radius: 1rem;
    background-color: rgba(255, 255,255, 0.1);
}

.header__content > img{
    width: 450px;
    /* margin-top: 30px; */
    filter: grayscale(70%);
    opacity: 0.7;
}
.header__content > h1{
    font-family: 'Hiragino Kaku Gothic ProN', cursive;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.3;
    margin: 0;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 1px;
}
.header__content > h2{
    font-family: 'Caveat', cursive;
    transform: rotate(-5deg);
    font-size: 3rem;
}
.header__content > p {
    color: #fff;
}

.searchArea {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 1.5rem 0 2rem;
}
select {
    border: solid #e97b34 2px;
    padding: 0.5rem;
    background-color: #ffefe6;
    border-radius: 8px;
    color: #e97b34;
    /* font-weight: bold; */
    font-size: 1rem;
    margin-right: 0.5rem;
    height: 40px;
}
button {
    background-color: #e97b34;
    border-radius: 8px;
    padding: 0.5rem;
    color: #fff;
    border: solid 2px #e97b34;
    box-sizing: border-box;
    width: 120px;
    letter-spacing: 2px;
    margin-left: 2rem;
    transition: background-color 0.5s;
    font-size: 1rem;
    height: 40px;
    line-height: 1;
}
button:hover {
    background-color: #ff9e66;
    border: solid 2px #ff9e66;
    transition: background-color 0.5s;
}

main {
    display: none;
    /* background-color: #EEEBE7;
    height: 10vh;
    width: 100%;
    position: absolute;
    bottom: 0;
    overflow: hidden; */
}
main > .content__inner {
    visibility: hidden;
}

.section {
    position: relative;
    margin: 16px 0;
}
.section > .mapArea {
    width: 70%;
}
.section > .description {
    background-color: rgba(255, 255,255, 0.8);
    padding: 32px 40px;
    position: absolute;
    top: 40px;
    right: 0;
    width: 40%;
}

.geolonia {
  width: 100%;
  height: 400px;
}


/* ------ id ------ */
#marker1, #marker2 {
    width: 40px;
    height: 40px;
    cursor: pointer;
}
#marker1 > img,
#marker2 > img {
    width: 100%;
}

#map {
    width: 100%;
    height: 100%;
}