
.nav__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 56px;
    position: absolute;
    top: 0;
    left: 10%;
    width: 80%;
    z-index: 10;
    color: var(--color-black);
    font-weight: bold;
    border-bottom: solid 3px var(--color-black);
    padding: 0 2rem;
    box-sizing: border-box;
}
nav {
    display: flex;
    align-items: center;
    justify-content: left;
}
nav > span {
    margin: 16px;
}

.logo {
    font-weight: bold;
    font-size: 1.2rem;
}